:root {
 
  --primary-base-dark : #797979;
  --primary-base: #FFFFFF;
  --primary-base-light: #DDDDDD;
  --secundary-background: #747474;
}
* {
  
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
}

body {
  font-family: 'Inter';
  color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--primary-base-dark);
  font-family: Degular Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}