:root {
  --primary-base-dark: #320029;
  --primary-base: #ffffff;
  --primary-base-light: #ffe2fa;
  --secundary-background: #747474;

  --color-music: #f2b360;
  --color-books-and-media: #81ced5;
  --color-movies-and-tv: #bc6cca;
  --color-webb-and-other: #f13c59;
}
* {
  padding: 0;
  margin: 0;
  font-family: "degular-variable";
  font-variation-settings: "ital" 0, "opsz" 6, "wght" 200;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--primary-base-dark);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h4 {
  color: var(--primary-base-dark, #320029);
  font-family: "degular-variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: var(--primr-p-bas-mrk, #320029);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
