.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



.welcomePage {
  background: url(/scoopit/public/scoop-purple.jpeg) lightgray 50% / cover no-repeat;
}

.welcomeHeader {
  
}