/* .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.welcomePage {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcomeHeader {
  background-image: url('/public/scoop-purple.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

.welcomeFooter {
  padding: 70px 20px 70px 20px;
}

.nextPage {
  
}