.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.welcomePage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcomeHeader {
  position: relative;
  width: 100%;
  height: 100%;
}

.nextPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Add padding to create space between barOne and roundButton */
}

.left {
  flex: 1; /* Take up all available space on the left side */
}

.right {
  flex: 1; /* Take up all available space on the right side */
  text-align: right; /* Align the content on the right side */
}