.loginHeader {
  position: relative;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.loginBackground {
  position: absolute;
  background: url(/scoop-grey.png);
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Place it behind other content */
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginWelcome {
  padding-left: 20px;
  padding-top: 74px;
}

.loginWelcome h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.loginChoices {
  color: var(--primr-p-bas-mrk, #320029);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 103px 28px 32px 28px;
}

.loginChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 63px;
  padding: 10px 20px 10px 5px;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--gradient-ram, rgba(204, 135, 0, 0.1));
  margin-bottom: 16px;
  border-radius: 55px;
  background: var(
    --gradient-kort,
    linear-gradient(
      137deg,
      rgba(242, 179, 96, 0.1) -4.41%,
      rgba(248, 248, 248, 0) 85.07%
    )
  );
  /* Card shade */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.continue {
  width: 100%;
}

.backArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 20px 0px 20px;
}

.haveAccount {
  text-align: center;
  padding-top: 60px;
}
