.addHeader {
  display: flex;
  width: 350px;
  height: 83px;
  padding: 10px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 46px;
  margin-left: 10px;
  margin-right: 10px;
}

.addSubscriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  margin-bottom: 80px;
}

.subscription {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 350px;
  display: flex;
  width: 350px;
  padding: 10px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--primr-bas, #fff);

  /* Card shade */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

/* .addInfo {
  margin: 54px 28px 115px 28px;
} */

.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 350px;
  background-color: #320029;
  border-radius: 50px;
  color: var(--primr-p-bas-ljus, #ffe2fa);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  bottom: 0;
}

.checkbox {
  display: flex;
  width: 25.778px;
  height: 25.777px;
  padding: 8.889px 0px;
  margin-left: 26px;
  margin-right: 26px;
  justify-content: center;
  align-items: center;
  gap: 7.111px;
  flex-shrink: 0;
  border-radius: 3.556px;
  border: 0.356px solid var(--primr-p-bas-mrk, #320029);
  accent-color: var(--primr-p-bas-ljus, #e0c2db);
}
